<ion-view view-title="Compra">
  <ion-content>
    <button ng-click="ctrl.openCamera()"  id="fab" class="button button-energized-900 button-fab button-fab-bottom-right">
      <i class="icon ion-plus"></i>
    </button>

    <!-- content goes here -->
    <ion-list>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.product">
        <img src="main/assets/images/villavicencio.jpg">
        <h2>Agua Mineral Villavicencio</h2>
        <p>$17</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.product">
        <img src="main/assets/images/luchetti.jpg">
        <h2>Fideos Luchetti</h2>
        <p>$26</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.product">
        <img src="main/assets/images/quick.jpg">
        <h2>Sopa Quick</h2>
        <p>$22</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.product">
        <img src="main/assets/images/sancor.jpg">
        <h2>Leche Sancor</h2>
        <p>$15</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
