<ion-nav-view  class="view-container" nav-view-transition="ios" nav-view-direction="none" nav-swipe="">

  <ion-view hide-nav-bar="true" view-title="Login" align-title="left" class="pane" nav-view="active"
            style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
    <ion-content style="background: url(main/assets/images/supermarket.jpeg) center; background-size: cover;"
                 class="scroll-content ionic-scroll">
      <div class="scroll" style="transform: translate3d(0px, -1px, 0px) scale(1);">
        <div class="hero no-header flat">
          <div class="content">
            <div class="app-icon"></div>
            <h1>Mi Mejor Compra</h1>
          </div>
        </div>
        <div class="padding">
          <button ui-sref="main.list" class="button button-full button-assertive ink" href="#/main/list">
            <i class="icon ion ion-social-googleplus"></i>  Login
          </button>
        </div>
      </div>
      <div class="scroll-bar scroll-bar-v">
        <div class="scroll-bar-indicator scroll-bar-fade-out"
             style="transform: translate3d(0px, 1px, 0px) scaleY(1); height: 641px;"></div>
      </div>
    </ion-content>
  </ion-view>
</ion-nav-view>
